PORT=4000
CLIENT_URL=http://127.0.0.1:5173
DATABASE_URL=postgresql://postgres.gqgjzspivpmudbqffhaa:cYSF7klE1C08bI58@aws-1-us-west-2.pooler.supabase.com:5432/postgres
DB_NAME=tattoo_catalogo
DB_USER=postgres
DB_PASSWORD=cYSF7klE1C08bI58
DB_HOST=localhost
DB_PORT=5432
WHATSAPP_NUMBER=+5355549887
ADMIN_SECRET=mi-clave-admin
ADMIN_JWT_SECRET=jwt-secret-super-seguro
DEFAULT_ADMIN_NAME=Cuenta desarrollador
DEFAULT_ADMIN_EMAIL=admin@inkportfolio.com
DEFAULT_ADMIN_PASSWORD=admin12345*
DEFAULT_ARTIST_EMAIL=alfredo@azojuanitop41.com
DEFAULT_ARTIST_PASSWORD=alfredo12345
STORAGE_PROVIDER=local
SUPABASE_URL=https://gqgjzspivpmudbqffhaa.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxZ2p6c3BpdnBtdWRicWZmaGFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQwNTcxMCwiZXhwIjoyMDkwOTgxNzEwfQ.Hn5kkUikESOIzqXUttKOaKdtnRxdsANrBSJLK__YJKI
SUPABASE_BUCKET=tatuajes
